body {
  background-color: #FCF8E8;
  text-align: center;
}

h1 {
  font-family: 'Caveat', cursive;
  color: #94B49F;
  font-size: 50px;
  font-weight: 600;
}

hr {
  width: 50%;
}

p{
font-family: 'Mali', cursive;
font-size: 30px;
}
